# Preprocessing

#### This ***.ipynb*** is for preprocessing 'UNSW-NB15-BALANCED-TRAIN.csv'.
#### The explanation is followed by each result.

In [76]:
import pandas as pd

ORIGINAL_CSV = '../data/UNSW-NB15-BALANCED-TRAIN.csv'
df = pd.read_csv(ORIGINAL_CSV, encoding='ISO-8859-1', low_memory=False)

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 449796 entries, 0 to 449795
Data columns (total 49 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   srcip             449796 non-null  object
 1   sport             449796 non-null  object
 2   dstip             449796 non-null  object
 3   dsport            449796 non-null  object
 4   proto             449796 non-null  object
 5   state             449796 non-null  object
 6   dur               449796 non-null  float64
 7   sbytes            449796 non-null  int64
 8   dbytes            449796 non-null  int64
 9   sttl              449796 non-null  int64
 10  dttl              449796 non-null  int64
 11  sloss             449796 non-null  int64
 12  dloss             449796 non-null  int64
 13  service           449796 non-null  object
 14  Sload             449796 non-null  float64
 15  Dload             449796 non-null  float64
 16  Spkts             449796 non-null  int64
 17  Dpkts             449796 non-null  int64
 18  swin              449796 non-null  int64
 19  dwin              449796 non-null  int64
 20  stcpb             449796 non-null  int64
 21  dtcpb             449796 non-null  int64
 22  smeansz           449796 non-null  int64
 23  dmeansz           449796 non-null  int64
 24  trans_depth       449796 non-null  int64
 25  res_bdy_len       449796 non-null  int64
 26  Sjit              449796 non-null  float64
 27  Djit              449796 non-null  float64
 28  Stime             449796 non-null  int64
 29  Ltime             449796 non-null  int64
 30  Sintpkt           449796 non-null  float64
 31  Dintpkt           449796 non-null  float64
 32  tcprtt            449796 non-null  float64
 33  synack            449796 non-null  float64
 34  ackdat            449796 non-null  float64
 35  is_sm_ips_ports   449796 non-null  int64
 36  ct_state_ttl      449796 non-null  int64
 37  ct_flw_http_mthd  143983 non-null  float64
 38  is_ftp_login      127135 non-null  float64
 39  ct_ftp_cmd        449796 non-null  object
 40  ct_srv_src        449796 non-null  int64
 41  ct_srv_dst        449796 non-null  int64
 42  ct_dst_ltm        449796 non-null  int64
 43  ct_src_ ltm       449796 non-null  int64
 44  ct_src_dport_ltm  449796 non-null  int64
 45  ct_dst_sport_ltm  449796 non-null  int64
 46  ct_dst_src_ltm    449796 non-null  int64
 47  attack_cat        224898 non-null  object
 48  Label             449796 non-null  int64
dtypes: float64(12), int64(28), object(9)
memory usage: 168.2+ MB
None

#### Total number of rows are 449796

In [77]:
print(df.isna().sum())

srcip                    0
sport                    0
dstip                    0
dsport                   0
proto                    0
state                    0
dur                      0
sbytes                   0
dbytes                   0
sttl                     0
dttl                     0
sloss                    0
dloss                    0
service                  0
Sload                    0
Dload                    0
Spkts                    0
Dpkts                    0
swin                     0
dwin                     0
stcpb                    0
dtcpb                    0
smeansz                  0
dmeansz                  0
trans_depth              0
res_bdy_len              0
Sjit                     0
Djit                     0
Stime                    0
Ltime                    0
Sintpkt                  0
Dintpkt                  0
tcprtt                   0
synack                   0
ackdat                   0
is_sm_ips_ports          0
ct_state_ttl             0
ct_flw_http_mthd    305813
is_ftp_login        322661
ct_ftp_cmd               0
ct_srv_src               0
ct_srv_dst               0
ct_dst_ltm               0
ct_src_ ltm              0
ct_src_dport_ltm         0
ct_dst_sport_ltm         0
ct_dst_src_ltm           0
attack_cat          224898
Label                    0
dtype: int64

#### 305813, 322661, 224898 values are missed respectively

In [78]:
count = ((pd.isna(df['attack_cat']) | (df['attack_cat'] == '')) & (df['Label'] == 1)).sum()

# Number of empty value of 'attack_cat' feature correspond to abnormal packet
print(count)

0

#### All the NaN or none values in 'attack_cat' feature considered normal

In [79]:
# 'attack_cat' column is cleaned and standardized by filling in missing values with 'normal', removing leading and trailing whitespace, and converting all text to lowercase.

df['attack_cat'] = df.attack_cat.fillna(value='normal').apply(
        lambda x: x.strip().lower())

print(df.isna().sum())

srcip                    0
sport                    0
dstip                    0
dsport                   0
proto                    0
state                    0
dur                      0
sbytes                   0
dbytes                   0
sttl                     0
dttl                     0
sloss                    0
dloss                    0
service                  0
Sload                    0
Dload                    0
Spkts                    0
Dpkts                    0
swin                     0
dwin                     0
stcpb                    0
dtcpb                    0
smeansz                  0
dmeansz                  0
trans_depth              0
res_bdy_len              0
Sjit                     0
Djit                     0
Stime                    0
Ltime                    0
Sintpkt                  0
Dintpkt                  0
tcprtt                   0
synack                   0
ackdat                   0
is_sm_ips_ports          0
ct_state_ttl             0
ct_flw_http_mthd    305813
is_ftp_login        322661
ct_ftp_cmd               0
ct_srv_src               0
ct_srv_dst               0
ct_dst_ltm               0
ct_src_ ltm              0
ct_src_dport_ltm         0
ct_dst_sport_ltm         0
ct_dst_src_ltm           0
attack_cat               0
Label                    0
dtype: int64

#### Fill 'attack_cat', when it is NaN or None to normal

In [80]:
# Change hex ports to decimal value

def hex_to_decimal(x):
    if str(x).startswith('0x'):
        return int(x, 16)  # Convert from hex to decimal
    else:
        return x

df['sport'] = df['sport'].apply(hex_to_decimal)
df['dsport'] = df['dsport'].apply(hex_to_decimal)

# # Confirm there's no hex value
# # After we change to int, we cannot use .str
# sport_with_0x = df['sport'].str.startswith('0x')
# dsport_with_0x = df['dsport'].str.startswith('0x')
# print("=> Number hex ports in feature sport and dsport")
# print(sport_with_0x.sum())  # sport with 0x
# print(dsport_with_0x.sum()) # dsport_with_0x

# Change the value is 538989345 to 65535 of  'sport' and 'dsport'
df['sport'] = df['sport'].replace('538989345', '65535')
df['dsport'] = df['dsport'].replace('538989345', '65535')

# Change the value is '-' to '0' of  'sport' and 'dsport'
df['sport'] = df['sport'].replace('-', '0')
df['dsport'] = df['dsport'].replace('-', '0')

# Change data type to int64
df['sport'] = df['sport'].astype(int)
df['dsport'] = df['dsport'].astype(int)

#### Change hexadecimal ports of 'sport' and 'dsport' to decimal
#### Change empty port '-' to '0'
#### Change port higher than 538989345  to '65535'
#### Change data type from object to int64

In [81]:
# Fill out 'ct_flw_http_mthd', 'is_ftp_login' feature

df['ct_flw_http_mthd'] = df['ct_flw_http_mthd'].fillna(0)
df['is_ftp_login'] = df['is_ftp_login'].fillna(0)

nan_count1 = df['ct_flw_http_mthd'].isna().sum()
nan_count2 = df['is_ftp_login'].isna().sum()

print(nan_count1)
print(nan_count2)

0
0

#### Fill NaN or None value of 'ct_flw_http_mthd' and 'is_ftp_login' to 0

In [82]:
# 'ct_ftp_cmd' considered as an object
# Need to change to float64 and fill out empty value to 0

# Convert 'ct_ftp_cmd' to numeric, coercing errors to NaN
df['ct_ftp_cmd'] = pd.to_numeric(df['ct_ftp_cmd'], errors='coerce')

df['ct_ftp_cmd'] = df['ct_ftp_cmd'].fillna(0)

df['ct_ftp_cmd'] = df['ct_ftp_cmd'].astype(float)

#### Fill NaN or None value of 'ct_ftp_cmd' to 0
#### Change data type from object to float64

In [83]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 449796 entries, 0 to 449795
Data columns (total 49 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   srcip             449796 non-null  object
 1   sport             449796 non-null  int64
 2   dstip             449796 non-null  object
 3   dsport            449796 non-null  int64
 4   proto             449796 non-null  object
 5   state             449796 non-null  object
 6   dur               449796 non-null  float64
 7   sbytes            449796 non-null  int64
 8   dbytes            449796 non-null  int64
 9   sttl              449796 non-null  int64
 10  dttl              449796 non-null  int64
 11  sloss             449796 non-null  int64
 12  dloss             449796 non-null  int64
 13  service           449796 non-null  object
 14  Sload             449796 non-null  float64
 15  Dload             449796 non-null  float64
 16  Spkts             449796 non-null  int64
 17  Dpkts             449796 non-null  int64
 18  swin              449796 non-null  int64
 19  dwin              449796 non-null  int64
 20  stcpb             449796 non-null  int64
 21  dtcpb             449796 non-null  int64
 22  smeansz           449796 non-null  int64
 23  dmeansz           449796 non-null  int64
 24  trans_depth       449796 non-null  int64
 25  res_bdy_len       449796 non-null  int64
 26  Sjit              449796 non-null  float64
 27  Djit              449796 non-null  float64
 28  Stime             449796 non-null  int64
 29  Ltime             449796 non-null  int64
 30  Sintpkt           449796 non-null  float64
 31  Dintpkt           449796 non-null  float64
 32  tcprtt            449796 non-null  float64
 33  synack            449796 non-null  float64
 34  ackdat            449796 non-null  float64
 35  is_sm_ips_ports   449796 non-null  int64
 36  ct_state_ttl      449796 non-null  int64
 37  ct_flw_http_mthd  449796 non-null  float64
 38  is_ftp_login      449796 non-null  float64
 39  ct_ftp_cmd        449796 non-null  float64
 40  ct_srv_src        449796 non-null  int64
 41  ct_srv_dst        449796 non-null  int64
 42  ct_dst_ltm        449796 non-null  int64
 43  ct_src_ ltm       449796 non-null  int64
 44  ct_src_dport_ltm  449796 non-null  int64
 45  ct_dst_sport_ltm  449796 non-null  int64
 46  ct_dst_src_ltm    449796 non-null  int64
 47  attack_cat        449796 non-null  object
 48  Label             449796 non-null  int64
dtypes: float64(13), int64(30), object(6)
memory usage: 168.2+ MB
None

#### Confirm there is no NaN or None values (449796)

In [84]:
# According to the explanation of project: "attributes like proto, you can use the factorize function from pandas library to convert them to numerical format"

# We need to categorize, 'proto', 'state', 'service', 'and attack_cat'

need_factorization = ['proto', 'state', 'service', 'attack_cat']

for feature in need_factorization:
    df[feature] = pd.factorize(df[feature])[0]

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 449796 entries, 0 to 449795
Data columns (total 49 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   srcip             449796 non-null  object
 1   sport             449796 non-null  int64
 2   dstip             449796 non-null  object
 3   dsport            449796 non-null  int64
 4   proto             449796 non-null  int64
 5   state             449796 non-null  int64
 6   dur               449796 non-null  float64
 7   sbytes            449796 non-null  int64
 8   dbytes            449796 non-null  int64
 9   sttl              449796 non-null  int64
 10  dttl              449796 non-null  int64
 11  sloss             449796 non-null  int64
 12  dloss             449796 non-null  int64
 13  service           449796 non-null  int64
 14  Sload             449796 non-null  float64
 15  Dload             449796 non-null  float64
 16  Spkts             449796 non-null  int64
 17  Dpkts             449796 non-null  int64
 18  swin              449796 non-null  int64
 19  dwin              449796 non-null  int64
 20  stcpb             449796 non-null  int64
 21  dtcpb             449796 non-null  int64
 22  smeansz           449796 non-null  int64
 23  dmeansz           449796 non-null  int64
 24  trans_depth       449796 non-null  int64
 25  res_bdy_len       449796 non-null  int64
 26  Sjit              449796 non-null  float64
 27  Djit              449796 non-null  float64
 28  Stime             449796 non-null  int64
 29  Ltime             449796 non-null  int64
 30  Sintpkt           449796 non-null  float64
 31  Dintpkt           449796 non-null  float64
 32  tcprtt            449796 non-null  float64
 33  synack            449796 non-null  float64
 34  ackdat            449796 non-null  float64
 35  is_sm_ips_ports   449796 non-null  int64
 36  ct_state_ttl      449796 non-null  int64
 37  ct_flw_http_mthd  449796 non-null  float64
 38  is_ftp_login      449796 non-null  float64
 39  ct_ftp_cmd        449796 non-null  float64
 40  ct_srv_src        449796 non-null  int64
 41  ct_srv_dst        449796 non-null  int64
 42  ct_dst_ltm        449796 non-null  int64
 43  ct_src_ ltm       449796 non-null  int64
 44  ct_src_dport_ltm  449796 non-null  int64
 45  ct_dst_sport_ltm  449796 non-null  int64
 46  ct_dst_src_ltm    449796 non-null  int64
 47  attack_cat        449796 non-null  int64
 48  Label             449796 non-null  int64
dtypes: float64(13), int64(34), object(2)
memory usage: 168.2+ MB
None

#### Factorize 'proto', 'state', 'service', 'and attack_cat'

In [85]:
# According to the explanation of project: "you may also convert Object formatted columns to string type using df [' column name'] astype('str')"

# The last feature we left is  'srcip' and 'dstip' as an object

need_string = ['srcip', 'dstip']

for feature in need_string:
    df[feature] = df[feature].astype("string")

#### Change data type from object to string

In [86]:
# Final result
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 449796 entries, 0 to 449795
Data columns (total 49 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   srcip             449796 non-null  string
 1   sport             449796 non-null  int64
 2   dstip             449796 non-null  string
 3   dsport            449796 non-null  int64
 4   proto             449796 non-null  int64
 5   state             449796 non-null  int64
 6   dur               449796 non-null  float64
 7   sbytes            449796 non-null  int64
 8   dbytes            449796 non-null  int64
 9   sttl              449796 non-null  int64
 10  dttl              449796 non-null  int64
 11  sloss             449796 non-null  int64
 12  dloss             449796 non-null  int64
 13  service           449796 non-null  int64
 14  Sload             449796 non-null  float64
 15  Dload             449796 non-null  float64
 16  Spkts             449796 non-null  int64
 17  Dpkts             449796 non-null  int64
 18  swin              449796 non-null  int64
 19  dwin              449796 non-null  int64
 20  stcpb             449796 non-null  int64
 21  dtcpb             449796 non-null  int64
 22  smeansz           449796 non-null  int64
 23  dmeansz           449796 non-null  int64
 24  trans_depth       449796 non-null  int64
 25  res_bdy_len       449796 non-null  int64
 26  Sjit              449796 non-null  float64
 27  Djit              449796 non-null  float64
 28  Stime             449796 non-null  int64
 29  Ltime             449796 non-null  int64
 30  Sintpkt           449796 non-null  float64
 31  Dintpkt           449796 non-null  float64
 32  tcprtt            449796 non-null  float64
 33  synack            449796 non-null  float64
 34  ackdat            449796 non-null  float64
 35  is_sm_ips_ports   449796 non-null  int64
 36  ct_state_ttl      449796 non-null  int64
 37  ct_flw_http_mthd  449796 non-null  float64
 38  is_ftp_login      449796 non-null  float64
 39  ct_ftp_cmd        449796 non-null  float64
 40  ct_srv_src        449796 non-null  int64
 41  ct_srv_dst        449796 non-null  int64
 42  ct_dst_ltm        449796 non-null  int64
 43  ct_src_ ltm       449796 non-null  int64
 44  ct_src_dport_ltm  449796 non-null  int64
 45  ct_dst_sport_ltm  449796 non-null  int64
 46  ct_dst_src_ltm    449796 non-null  int64
 47  attack_cat        449796 non-null  int64
 48  Label             449796 non-null  int64
dtypes: float64(13), int64(34), string(2)
memory usage: 168.2 MB
None

#### Successfully changed all the values as requested